.section-menu {
  position: relative;
  background-color: $color-beige;
  z-index: 0;

  .menu-bg-text {
    position: absolute;
    top: -10rem;
    font-family: $font-secondary;
    font-size: 50rem;
    font-weight: 800;
    color: $color-beige-darker;
    z-index: -1;

    @include respond(tablet-portret) {
      font-size: 30rem;
      top: -2rem;
    }

    @include respond(phone) {
      font-size: 20rem;
      top: 0;
    }
  }

  .menu-container {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 6.4rem 0;

    h2 {
      font-weight: 500;
      color: $color-black;
      text-align: left;
    }

    h3 {
      font-weight: 400;
      color: $color-black;
    }

    p {
      font-weight: 200;
      color: $color-black;
    }
  }
}

.drink-name {
  width: 20rem;
}

.drink-price {
  width: 5rem;
}
